 h1{
            color:rebeccapurple;
            background-color: black;
        }
h2{
    color: orange;
}
p{
    color:white;
    background-color: black;
}
button{
    color:white;
    background-color: blue;
}