#box {
    height: 200px;
    width: 300px;
    background-color: white;
    position: relative;

    display: flex;               /* make #box a flex container */
    justify-content: center;     /* center horizontally */
    align-items: center;         /* center vertically */
}

#circle {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;          /* makes it a circle */
}
