*{
    padding: 0;
    margin:0;
    box-sizing: content-box;



}
body{
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    padding-top: 20px;

}
.container{
    background-color:rgba(255, 255, 255, 0.05) ;
    border: 1px solid rgba(255, 255, 255, 0.129) ;
    font-size: 40px;
    color: white;
    width: 70%;
    border-radius:5px ;
    white-space: nowrap;
    overflow: hidden;

}
p{
    margin-left: 100%;
    animation-name: move;
    animation-duration:5s ;
    animation-iteration-count: infinite;

}
@keyframes move{
    from{
        margin-left: 100%;

    }
    to{
        margin-left: -100%;

    }

}