
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(142, 185, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh ;
    box-sizing: border-box;


}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(112, 112, 174);

}



.box{
    width: 400px;
    height: 500px;
   
    background-color: rgb(175, 207, 172);
    padding: 60px;
    


}
label{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}
input{
    width:100%;
    height:30px;
    padding: 10px;
    font-size:20px ;
    margin-bottom: 20px;
    border-radius: 10%;
    background-color: black;
    color: white;
}
button{
    cursor: pointer;
}