h1{
    background-color: aqua;
}
/* priority of inline css>tittle css or internal css>external css */
/* ordering is also important  whoever comes in llast that will happen */
.classA{
    background-color: chartreuse;
}
#first{
    background-color: darkolivegreen;
}
/* id priority > class priority >tag  priority depends upon specific how much specific u r going */
/* 
order of priority
0.!importnt
1.inline
2.id
3.class
4.tags(h1,h2) 
5.ordering will be important in case of tie
to override inline css need to write !important
 */
 /* 
  */
