*{
    margin:0px;
    padding: 0px;
}
div{
    background-color: aquamarine;height: 800px ;width: 800px;
}
h1{
    background-color: rgb(27, 26, 23);
    position: relative;
    left:200px;

}
h2{
    position: relative;
    right: 5px;
    bottom: 30px;
}
h3{
    background-color: pink;
    position: fixed;
    top: 0px;
}

/* positioning */