*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
}
body{
    background-color: black;
}
.container{
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 1fr;
    gap: 10px;
    height: 400px;
    width: 400px;
    background-color: aqua;

}
.first{
    background-color: orange;
}
.second{
    background-color: green;
}
.third{
    background-color: blue;
}
.fourth{
    background-color: brown;
}