*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;

}
.container{
    display: grid;
    
    height: 600px;
    width: 600px;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 20px;
    padding: 10px;


}
.box{
    background-color: rgb(114, 114, 224);
   
}
.header{
    grid-column-start:1 ;
    grid-column-end: 4;
    
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.content1{
    grid-column-start: 2;
    grid-column-end: 4;

}
.footer{
    grid-column: 1/4;
}
