.container{
    height: 200px;
    width:200px;
    /* background-color: orange;
    box-shadow:10px 10px 5px 2px blue; */
    /* offset x offset y blur radius spread radius */
    /* inset - shadow will come on the box*/
    background-color: #ffff00;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px red;
    /* overflow:scroll ....to avoid over flow of data scroll will be there */
} 